<div class="content-container">
  <p-card>
    <ng-template #title>Edit Owner</ng-template>
    <div class="card-content">
      <p-fluid>
        <div class="form-container">
          <div class="field">
            <label for="firstname">First Name</label>
            <input pInputText id="firstname" [(ngModel)]="owner.firstname" required />
            <small *ngIf="!owner.firstname" class="p-error">First Name is required</small>
          </div>

          <div class="field">
            <label for="lastname">Last Name</label>
            <input pInputText id="lastname" [(ngModel)]="owner.lastname" required />
            <small *ngIf="!owner.lastname" class="p-error">Last Name is required</small>
          </div>

          <div class="field">
            <label for="email">Email</label>
            <input pInputText id="email" [(ngModel)]="owner.email" type="email" required />
            <small *ngIf="!owner.email" class="p-error">Email is required</small>
          </div>

          <div class="field">
            <label for="cell">Phone</label>
            <input pInputText id="cell" [(ngModel)]="owner.cell" type="tel" />
          </div>

          <div class="field">
            <label for="street">Street</label>
            <input pInputText id="street" [(ngModel)]="owner.street" />
          </div>

          <div class="field">
            <label for="csz">City, State, Zip</label>
            <input pInputText id="csz" [(ngModel)]="owner.csz" />
          </div>

          <div class="field">
            <p-checkbox [(ngModel)]="owner.is_admin" binary="true"></p-checkbox>
            <label for="is_admin" class="checkbox-label">Is Admin</label>
          </div>

          <div class="field">
            <p-button label="Save" (click)="save()"></p-button>
          </div>
          <div class="field">
            <p-button label="Cancel" (click)="cancel()" severity="secondary"></p-button>
          </div>
        </div>
      </p-fluid>
    </div>
  </p-card>
</div>