<div class="content-container">
  <p-card>
    <ng-template #title>
      {{ isAddingOwner ? 'Add New Owner' : 'Edit Current Owner' }}
      <span *ngIf="currentUnit"> Unit #{{ currentUnit }}</span>
    </ng-template>
    <div class="card-content">
      <p-fluid>
        <div class="form-container">
          <div class="field">
            <label for="firstname">First Name</label>
            <input pInputText id="firstname" [(ngModel)]="form.firstname" required />
            <small *ngIf="!form.firstname" class="p-error">First Name is required</small>
          </div>

          <div class="field">
            <label for="lastname">Last Name</label>
            <input pInputText id="lastname" [(ngModel)]="form.lastname" required />
            <small *ngIf="!form.lastname" class="p-error">Last Name is required</small>
          </div>

          <div class="field">
            <label for="email">Email</label>
            <input
              pInputText
              id="email"
              [(ngModel)]="form.email"
              type="email"
              [readonly]="!isAddingOwner"
              [class.disabled-input]="!isAddingOwner"
            />
            <small *ngIf="isAddingOwner && !form.email" class="p-error">Email is required</small>
          </div>

          <div class="field">
            <label for="cell">Phone</label>
            <input pInputText id="cell" [(ngModel)]="form.cell" type="tel" />
          </div>

          <div class="field">
            <label for="street">Street</label>
            <input pInputText id="street" [(ngModel)]="form.street" />
          </div>

          <div class="field">
            <label for="csz">City, State, Zip</label>
            <input pInputText id="csz" [(ngModel)]="form.csz" />
          </div>

          <div class="field occupied-row">
            <p-checkbox inputId="owner_occupied" [(ngModel)]="ownerOccupied" [binary]="true"></p-checkbox>
            <label for="owner_occupied" class="checkbox-label">Owner Occupied</label>
          </div>

          <div class="field occupied-row">
            <p-checkbox inputId="data_confirmed" [(ngModel)]="dataConfirmed" [binary]="true"></p-checkbox>
            <label for="data_confirmed" class="checkbox-label">Data confirmed</label>
          </div>

          <div class="field" *ngIf="!isAddingOwner">
            <p-button label="Save" (click)="save()"></p-button>
          </div>

          <div class="field" *ngIf="isAdmin && !isAddingOwner">
            <p-button label="Add New Owner" severity="info" (click)="startAddOwner()"></p-button>
          </div>

          <div class="field" *ngIf="isAddingOwner">
            <p-button label="Submit new owner" (click)="addNewOwner()"></p-button>
          </div>

          <div class="field">
            <p-button label="Cancel" (click)="cancel()" severity="secondary"></p-button>
          </div>
        </div>
      </p-fluid>
    </div>
  </p-card>
  <p-toast></p-toast>
  <p-confirmdialog></p-confirmdialog>
</div>