<p>password-reset works!</p>
<!-- password-reset.component.html -->
<div class="reset-container">
    <p-card>
      <ng-template #title>Reset Password</ng-template>
      <div>
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
          <p-fluid>
            <div class="form-container">
              <div class="field">
                <p-floatlabel variant="on">
                  <p-password id="password" formControlName="password" [toggleMask]="true" for="fluid" />
                  <label for="password">New Password</label>
                </p-floatlabel>
                <small *ngIf="resetForm.get('password')?.hasError('required') && resetForm.get('password')?.touched" class="p-error">
                  Password is required
                </small>
                <small *ngIf="resetForm.get('password')?.hasError('minlength') && resetForm.get('password')?.touched" class="p-error">
                  Password must be at least 6 characters
                </small>
              </div>
  
              <div class="field">
                <p-floatlabel variant="on">
                  <p-password id="confirmPassword" formControlName="confirmPassword" [toggleMask]="true" for="fluid" />
                  <label for="confirmPassword">Confirm Password</label>
                </p-floatlabel>
                <small *ngIf="resetForm.get('confirmPassword')?.hasError('required') && resetForm.get('confirmPassword')?.touched" class="p-error">
                  Confirmation is required
                </small>
                <small *ngIf="resetForm.hasError('mismatch') && resetForm.get('confirmPassword')?.touched" class="p-error">
                  Passwords do not match
                </small>
              </div>
  
              <div class="field">
                <p-button 
                  label="Update Password" 
                  [disabled]="loading || resetForm.invalid || !token" 
                  (click)="onSubmit()" 
                  icon="pi pi-check">
                </p-button>
              </div>
            </div>
          </p-fluid>
        </form>
      </div>
    </p-card>
    <p-toast></p-toast>
  </div>