

.unit-selector {
  margin-bottom: 15px;
}

.details-section {
  width: 100%;
  margin: 0 auto;
}

p-dropdown {
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.owner-details, .resident-details, .vehicle-details {
  margin-left: 10px;
}


.divider {
  border: 0;
  border-top: 2px solid #333;
  margin: 10px 0;
}

h3 {
  margin: 10px 0;
  font-size: 16px;
  font-weight: 550;
  color:#3e4a4a;
}

