<!-- information.component.html -->
<div class="content-container">
  <p-card>
    <ng-template #title>CANADY & CANADY</ng-template>
    <div class="card-content">
      <p>
        CANADY & CANADY is a ...(insert brief description of the company here) ...
        
      </p>

      <h3>Location</h3>
      <p>
        CANADY & CANADY is located at:<br />
        4801 Woodway Dr.<br />
        Suite 470-E<br />
        Houston, TX 77056<br />
      </p>

      <h3>Hours of Operation</h3>
      <p>
        Monday – Friday: 9 a.m. – 5 p.m.<br />
        Saturday – Sunday: Closed
      </p>
      <p><em>Available 24-Hours per Day for Facility Emergencies</em></p>

      <h3>Contact</h3>
      <p>
        <strong>Phone Number:</strong><br />
        Phone: (713) 783-1021<br />
      </p>

      <h3>Website</h3>
      <p>
        <a href="https://www.canadycanady.com//" target="_blank" rel="noopener noreferrer">CANADY & CANADY Website</a>
      </p>
    </div>
  </p-card>
</div>
