/* information.component.scss */
.form-container {
  width: 260px;
  margin: 0 auto;
}

.card-content {
  h3 {
    margin: 15px 0 5px 0;
    font-weight: 500;
  }

  p {
    margin: 5px 0;
  }

  a {
    color: #1976d2;
    text-description: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.rep-photo {
  margin: 16px 0;

  img {
    display: block;
    max-width: 220px;
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
}