<!-- information.component.html -->
<div class="content-container">
  <p-card>
    <ng-template #title>Management Information</ng-template>
    <div class="card-content">
      <p>
        Our current management company is <strong>Marshall Management</strong>. Marshall Management Group, Inc. is a
        full-service professional community and development management corporation—providing administrative, financial,
        and facility management services, and support for Homeowners Associations (HOAs) and Condominiums.
      </p>

      <h3>Location</h3>
      <p>
        Marshall Management is located at:<br />
        4800 Sugar Grove Blvd #140<br />
        Stafford, TX 77477<br />
        United States
      </p>

      <h3>Hours of Operation</h3>
      <p>
        Monday – Thursday: 9 a.m. – 5 p.m.<br />
        Friday: 9 a.m. – 3 p.m.<br />
        Saturday – Sunday: Closed
      </p>
      <p><em>Available 24-Hours per Day for Facility Emergencies</em></p>

      <h3>Contact</h3>
      <p>
        <strong>Marshall Management Phone Numbers:</strong><br />
        Phone: 713-977-6644<br />
        Fax: 713-977-6646
      </p>

      <h3>Website</h3>
      <p>
        <a href="https://mmgihouston.com/" target="_blank" rel="noopener noreferrer">Marshall Management Website</a>
      </p>
    </div>
  </p-card>
</div>
