<!-- information.component.html -->
<div class="content-container">
  <p-card>
    <ng-template #title>CANADY & CANADY</ng-template>
    <div class="card-content">
      <p>
        Canady &amp; Canady is a nationally recognized expert in the accounting,
        auditing, taxation, and financial reporting of community associations.
      </p>

      <p>Our representative is Rabia Mehmood.</p>

      <div class="rep-photo">
        <img src="rabia_mehmood.png" alt="Rabia Mehmood" />
      </div>

      <p>
        Rabia is available in the WST Office (Unit #100)<br />
        <strong>Tuesday and Thursday from 10AM to 12PM</strong>
      </p>

     
      <p>
        <a href="https://www.canadycanady.com/" target="_blank" rel="noopener noreferrer">CANADY &amp; CANADY Website</a>
      </p>
    </div>
  </p-card>
</div>
