<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <span>WST Owners Portal</span>

  <span class="example-spacer"></span>

  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-list>
      <a mat-list-item routerLink="/home" routerLinkActive="router-link-active" (click)="drawer.close()">Home</a>
      <mat-divider/>
      <div mat-subheader>Unit Information</div>
      <mat-divider/>
      <a mat-list-item routerLink="/units/app-details" routerLinkActive="router-link-active" (click)="drawer.close()">Unit Details</a>
      <a mat-list-item routerLink="/units/add-resident" routerLinkActive="router-link-active" (click)="drawer.close()">Add Resident</a>
      <a mat-list-item routerLink="/units/edit-resident" routerLinkActive="router-link-active" (click)="drawer.close()">Edit Resident</a>
      <a mat-list-item routerLink="/units/add-vehicle" routerLinkActive="router-link-active" (click)="drawer.close()">Add Vehicle</a>
      <a mat-list-item routerLink="/units/edit-vehicle" routerLinkActive="router-link-active" (click)="drawer.close()">Edit Vehicle</a>
      <mat-divider/>
      <div mat-subheader>Forms</div>
      <mat-divider/>
      <a mat-list-item routerLink="/forms/work-order" routerLinkActive="router-link-active" (click)="drawer.close()">Work Order</a>
      <a mat-list-item routerLink="/forms/violation-report" routerLinkActive="router-link-active" (click)="drawer.close()">Violation Report</a>
      <a mat-list-item routerLink="/forms/crime-report" routerLinkActive="router-link-active" (click)="drawer.close()">Crime Report</a>
      <a mat-list-item routerLink="/forms/arch-request" routerLinkActive="router-link-active" (click)="drawer.close()">Architectural Request</a>
      <a mat-list-item routerLink="/forms/message" routerLinkActive="router-link-active" (click)="drawer.close()">Message Board</a>
    </mat-list>
  </mat-drawer>
  <mat-sidenav-content (click)="drawer.close()">
    <div class="example-sidenav-content">
      <div class="router-outlet"><router-outlet></router-outlet></div>
    </div>
  </mat-sidenav-content>
</mat-drawer-container>


