<h2>{{ pageTitle }}</h2>
<div class="">
  <form [formGroup]="myForm" novalidate>
      <mat-form-field class="form-field" >
        <input matInput placeholder="email" formControlName="ownerEmail" />
        <mat-error *ngIf="handleError('ownerEmail', 'required')">
          required
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" [hidden]="loginMode == 'PW'">
        <input matInput placeholder="password" formControlName="ownerPassword" />
        <mat-error *ngIf="handleError('ownerPassword', 'required')">
          required
        </mat-error>
      </mat-form-field>
      <div class="button-container">
        <button type="button" [disabled]="!myForm.valid" mat-raised-button color="primary" (click)="submitBtn()">{{ buttonLabel }}</button>
      </div>
      <button mat-button (click)="changePassword()" [hidden]="loginMode == 'PW'">Change / Forgot Password</button>
  </form>
  <div class="form-footer"></div>
</div>
