// >>>> parking.component.scss
:host {
display: block;
padding: 1rem;
}

.search-section {
margin-bottom: 20px;
}

.form-container {
width: 260px;
margin: 0 auto;
}

label {
display: block;
margin-bottom: 5px;
}

p-inputtext {
width: 200px;
margin-right: 10px;
}

h3 {
margin-top: 20px;
}

.options-section {
margin-top: 20px;
display: flex;
gap: 10px;
}