

.form-container {
  width: 260px;
  margin: 0 auto;
}

.field {
  margin-bottom: 15px; /* Ensure spacing between fields */
  display: flex;
  flex-direction: column; /* Stack label and input vertically */
}

p-button {
  width: 100%; /* FluidModule ensures this */
  padding: 8px;
  font-size: 14px;
}

p-error {
  color: #dc2626; /* Red color for errors, adjust as needed */
  font-size: 12px;
}

.file-upload {
  display: flex;
  align-items: center;
  gap: 10px;
}