<div class="content-container">
  <p-card>
    <ng-template #title>Submit Architectural Request</ng-template>
    <div class="card-content">
      <p-fluid>
        <div class="form-container">
          <div class="field">
            <label for="name">Name</label>
            <input pInputText id="name" [(ngModel)]="formData.name" readonly />
          </div>

          <div class="field">
            <label for="phone">Phone</label>
            <input pInputText id="phone" [(ngModel)]="formData.phone" type="tel" readonly />
          </div>

          <div class="field">
            <label for="email">Email</label>
            <input pInputText id="email" [(ngModel)]="formData.email" type="email" readonly />
          </div>

          <div class="field">
            <label for="unit">Unit #</label>
            <input pInputText id="unit" [(ngModel)]="formData.unit" type="number" readonly />
          </div>

          <div class="field">
            <label for="description">Description</label>
            <textarea pInputTextarea id="description" [(ngModel)]="formData.description" rows="5" required style="display: block; width: 100%;"></textarea>
            <small *ngIf="!formData.description" class="p-error">Description is required</small>
          </div>

          <div class="field file-upload">
            <p-button label="Upload Photo" (click)="openPhotoFileDialog()"></p-button>
            <input #photoFile type="file" accept="image/*" (change)="onFileChangePhoto($event)" style="display: none;" />
            <span *ngIf="filePhoto">{{ filePhoto.name }}</span>
          </div>

          <div class="field">
            <p-button label="Submit" (click)="submit()"></p-button>
          </div>
          <div class="field">
            <p-button label="Cancel" (click)="cancel()" severity="secondary"></p-button>
          </div>
        </div>
      </p-fluid>
    </div>
  </p-card>
</div>
