<div class="login-container">
  <p-card>
    <ng-template #title>Log In</ng-template>
    <div>
      <hr class="custom-divider" />
      <h4 class="first-time-title">First-time Users</h4>
      <p class="instructions">
        If you are a first-time user, please enter your email and click "Reset Password" to set up your account.
      </p>
      <hr class="custom-divider" />
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <p-fluid>
        <div class="form-container">
          <div class="field">
            <p-floatlabel variant="on">
              <input pInputText id="email" formControlName="email" type="email" for="fluid"/>
              <label for="email">Email</label>
            </p-floatlabel>
            <small *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched"
              class="p-error">
              Email is required
            </small>
            <small *ngIf="loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched" class="p-error">
              Please enter a valid email
            </small>
          </div>

          <div class="field">
            <p-floatlabel variant="on">
              <p-password id="password" formControlName="password" [toggleMask]="true" for="fluid"/>
              <label for="password">Password</label>
            </p-floatlabel>
            <small *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched"
              class="p-error">
              Password is required
            </small>
          </div>
         
            <div class="field">
              <p-button label="Login" 
                [disabled]="loading || loginForm.invalid" (click)="onSubmit()" icon="pi pi-user"></p-button>
            </div>

            <div class="field">
              <p-button label="Reset Password"
                (click)="resetPassword()" severity="info"></p-button>
            </div>
        </div>
      </p-fluid>
      </form>

      <hr class="custom-divider" />
     
      <p class="instructions">
        mar12d
      </p>
    </div>
  </p-card>
  <p-toast></p-toast>
</div>