.p-toolbar {
  background-color: #2f3b4c; /* Example color from Aura theme */
  color: white;
  padding: 10px;
}

.p-button-text {
  color: white;
}

.p-toolbar-group-center {
  flex-grow: 1;
  text-align: center;
}