<!-- landscape.component.html -->
<div class="content-container">
    <p-card>
      <ng-template #title>Landscape Committee</ng-template>
      <div class="card-content">
        <p>Love the outdoors and want to make Westbury Square Townhomes shine? Join the Landscape Committee! From spring through early summer, we meet every weekend to plant flowers, weed gardens, spread mulch, and trim shrubs—beautifying our community one sunny day at a time.</p>
        <p>It’s a fun, hands-on group where you can dig in, enjoy good company, and take pride in keeping our property looking its best. No experience needed—just a willingness to have a great time while making a difference. Get your hands dirty with us!</p>
    </div>

    </p-card>
  </div>
