<p-drawer [(visible)]="visible" [style]="{ width: '300px' }" position="left">
  <div class="flex flex-col h-full">
    <div class="overflow-y-auto">
      <ul class="list-none p-4 m-0 menu-container">
        <li>
          <a pRipple [routerLink]="['/home']" class="menu-item" (click)="visible = false">
            <i class="pi pi-home"></i>
            <span>Home</span>
          </a>
        </li>

        <li>
          <div pRipple class="menu-item menu-parent" (click)="toggleSubmenu('news')">
            <span>News and Events</span>
            <i class="pi pi-chevron-down"></i>
          </div>
          <ul class="list-none p-0 m-0 submenu" [class.hidden]="!expandedSubmenus['news']">
            <li>
              <a pRipple [routerLink]="['/news/letter']" class="menu-item" (click)="visible = false">
                <i class="pi pi-book"></i>
                <span>Newsletter</span>
              </a>
            </li>
            <li>
              <a pRipple [routerLink]="['/news/events']" class="menu-item" (click)="visible = false">
                <i class="pi pi-calendar"></i>
                <span>Events</span>
              </a>
            </li>
            <li>
              <a pRipple [routerLink]="['/news/election']" class="menu-item" (click)="visible = false">
                <i class="pi pi-star"></i>
                <span>Annual Election 2027</span>
              </a>
            </li>
          </ul>
        </li>

        <li>
          <div pRipple class="menu-item menu-parent" (click)="toggleSubmenu('management')">
            <span>Management</span>
            <i class="pi pi-chevron-down"></i>
          </div>
          <ul class="list-none p-0 m-0 submenu" [class.hidden]="!expandedSubmenus['management']">
            <li>
              <a pRipple [routerLink]="['/management/information']" class="menu-item" (click)="visible = false">
                <i class="pi pi-info-circle"></i>
                <span>About</span>
              </a>
            </li>
            <li>
              <a pRipple [routerLink]="['/management/hoa-dues']" class="menu-item" (click)="visible = false">
                <i class="pi pi-money-bill"></i>
                <span>HOA Dues</span>
              </a>
            </li>
            <li *ngIf="isLoggedIn">
              <div pRipple class="menu-item menu-parent" (click)="toggleSubmenu('forms')">
                <span> <i class="pi pi-receipt"></i>Forms</span>
                <i class="pi pi-chevron-down"></i>
              </div>
              <ul class="list-none p-0 m-0 submenu" [class.hidden]="!expandedSubmenus['forms']">
                <li>
                  <a pRipple [routerLink]="['/management/forms/work-order']" class="menu-item" (click)="visible = false">
                    <i class="pi pi-wrench"></i>
                    <span>Work Order</span>
                  </a>
                </li>
                <li>
                  <a pRipple [routerLink]="['/management/forms/resident-feedback']" class="menu-item" (click)="visible = false">
                    <i class="pi pi-comments"></i>
                    <span>Resident Feedback</span>
                  </a>
                </li>
                <li>
                  <a pRipple [routerLink]="['/management/forms/billing-inquiry']" class="menu-item" (click)="visible = false">
                    <i class="pi pi-dollar"></i>
                    <span>Billing Inquiry</span>
                  </a>
                </li>
                <li>
                  <a pRipple [routerLink]="['/management/forms/violation-report']" class="menu-item" (click)="visible = false">
                    <i class="pi pi-exclamation-triangle"></i>
                    <span>Violation Report</span>
                  </a>
                </li>
                <li>
                  <a pRipple [routerLink]="['/management/forms/crime-report']" class="menu-item" (click)="visible = false">
                    <i class="pi pi-shield"></i>
                    <span>Crime Report</span>
                  </a>
                </li>
                <li>
                  <a pRipple [routerLink]="['/management/forms/arch-request']" class="menu-item" (click)="visible = false">
                    <i class="pi pi-pencil"></i>
                    <span>Architectural Request</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <div pRipple class="menu-item menu-parent" (click)="toggleSubmenu('governance')">
            <span>Governance</span>
            <i class="pi pi-chevron-down"></i>
          </div>
          <ul class="list-none p-0 m-0 submenu" [class.hidden]="!expandedSubmenus['governance']">
            <li>
              <a pRipple [routerLink]="['/governance/board']" class="menu-item" (click)="visible = false">
                <i class="pi pi-users"></i>
                <span>Board of Directors</span>
              </a>
            </li>
            <li>
              <div pRipple class="menu-item menu-parent" (click)="toggleSubmenu('committees')">
                <span>Committees</span>
                <i class="pi pi-chevron-down"></i>
              </div>
              <ul class="list-none p-0 m-0 submenu" [class.hidden]="!expandedSubmenus['committees']">
                <li>
                  <a pRipple [routerLink]="['/governance/committees/landscape']" class="menu-item" (click)="visible = false">
                    <i class="pi pi-sun"></i>
                    <span>Landscape</span>
                  </a>
                </li>
                <li>
                  <a pRipple [routerLink]="['/governance/committees/welcome']" class="menu-item" (click)="visible = false">
                    <i class="pi pi-users"></i>
                    <span>Welcome</span>
                  </a>
                </li>
                <li>
                  <a pRipple [routerLink]="['/governance/committees/legal']" class="menu-item" (click)="visible = false">
                    <i class="pi pi-hammer"></i>
                    <span>Legal</span>
                  </a>
                </li>
                <li>
                  <a pRipple [routerLink]="['/governance/committees/violations-parking']" class="menu-item" (click)="visible = false">
                    <i class="pi pi-car"></i>
                    <span>Parking & Violations</span>
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a pRipple [routerLink]="['/governance/documents']" class="menu-item" (click)="visible = false">
                <i class="pi pi-file"></i>
                <span>Governing Documents</span>
              </a>
            </li>
          </ul>
        </li>

        <li>
          <a pRipple class="menu-item" (click)="goToAccount()">
            <i class="pi pi-user"></i>
            <span>My Account</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</p-drawer>

<p-toolbar>
  <div class="p-toolbar-group-start">
    <p-button icon="pi pi-bars" (click)="toggleDrawer()" severity="secondary"></p-button>
    <p-button *ngIf="showBackToAdmin" icon="pi pi-angle-double-left" (click)="goBack()" severity="info" class="left-margin"></p-button>
  </div>
  <div class="p-toolbar-group-center">
    <span>WST Owners Portal</span>
  </div>
  <div class="p-toolbar-group-end">
    <p-button *ngIf="isLoggedIn" icon="pi pi-sign-out" (click)="logout()" severity="secondary"></p-button>
    <p-button *ngIf="!isLoggedIn" icon="pi pi-sign-in" (click)="goToAccount()" severity="secondary"></p-button>
  </div>
</p-toolbar>

<div class="content-container">
  <router-outlet></router-outlet>
</div>