<div class="content-container">
  <p-card>
    <ng-template #title>Edit Resident</ng-template>
    <div class="card-content">
      <p-fluid>
        <div class="form-container">
          <div class="field">
            <label for="firstname">First Name</label>
            <input pInputText id="firstname" [(ngModel)]="resident.firstname" required />
            <small *ngIf="!resident.firstname" class="p-error">First Name is required</small>
          </div>

          <div class="field">
            <label for="lastname">Last Name</label>
            <input pInputText id="lastname" [(ngModel)]="resident.lastname" required />
            <small *ngIf="!resident.lastname" class="p-error">Last Name is required</small>
          </div>

          <div class="field">
            <label for="cell">Phone</label>
            <input pInputText id="cell" [(ngModel)]="resident.cell" type="tel" />
          </div>

          <div class="field">
            <label for="email">Email</label>
            <input pInputText id="email" [(ngModel)]="resident.email" type="email" />
          </div>

          <div class="field occupied-row">
            <p-checkbox inputId="data_confirmed" [(ngModel)]="dataConfirmed" [binary]="true"></p-checkbox>
            <label for="data_confirmed" class="checkbox-label">Data confirmed</label>
          </div>

          <div class="field">
            <p-button label="Save" (click)="save()"></p-button>
          </div>
          <div class="field">
            <p-button label="Delete" (click)="delete()" severity="danger"></p-button>
          </div>
          <div class="field">
            <p-button label="Cancel" (click)="cancel()" severity="secondary"></p-button>
          </div>
        </div>
      </p-fluid>
    </div>
  </p-card>
</div>