<div class="content-container">
  <p-card>
    <ng-template #title>Admin</ng-template>
    <div class="card-content">
      <div class="buttons-container">
        <p-fluid>
          <div class="button-container">
            <p-button label="Unit Search" routerLink="/admin/unit-search"></p-button>
          </div>
          <div class="button-container">
            <p-button label="Parking" routerLink="/admin/parking"></p-button>
          </div>
        </p-fluid>
      </div>
    </div>
  </p-card>
</div>