<!-- admin.component.html -->
<div class="content-container">
  <p-card>
    <ng-template #title>Admin Dashboard</ng-template>
    <div class="card-content">
      <div class="search-input">
        <div class="search-section">
          <label for="unitNumber">Unit Number</label>
          <input pInputText id="unitNumber" type="number" [(ngModel)]="unitNumber" (keyup)="checkUnitNumber()" />
          <hr class="divider" />
          <p-button 
            label="Search" 
            [disabled]="!this.checkUnitNumber()" 
            (click)="goToUnit()">
          </p-button>
        </div>

        <div class="search-section">
          <label for="searchName">Search Owner by Name</label>
          <input pInputText id="searchName" [(ngModel)]="searchName" (keyup)="searchOwners()" />
        </div>
      </div>

      <div class="search-section">
        <ul *ngIf="searchResults.length > 0">
          <li *ngFor="let owner of searchResults">
            <p-button 
              icon="pi pi-eye" 
              styleClass="p-button-text" 
              (click)="viewOwnerUnits(owner.owner_id)">
            </p-button>
            {{ owner.firstname }} {{ owner.lastname }} ({{ owner.unitCount }} units)
            <p-button 
              *ngIf="unitNumber && allUnits.includes(unitNumber)" 
              icon="pi pi-link" 
              styleClass="p-button-text p-button-secondary" 
              (click)="updateOwnerUnit(owner.owner_id, unitNumber)">
            </p-button>
          </li>
        </ul>
        <p *ngIf="searchName && searchResults.length === 0">No matches found.</p>
      </div>

      <div class="upload-section">
        <p-button label="Upload Newsletter" (click)="openNewsletterFileDialog()"></p-button>
        <input #newsletterFile type="file" accept="application/pdf" (change)="onFileChangeNewsletter($event)" style="display: none;" />
        <span *ngIf="fileNewsletter">{{ fileNewsletter.name }}</span>
      </div>

      <div class="upload-section">
        <p-button label="Upload Report" (click)="openReportFileDialog()"></p-button>
        <input #reportFile type="file" accept="application/pdf" (change)="onFileChangeReport($event)" style="display: none;" />
        <span *ngIf="fileReport">{{ fileReport.name }}</span>
      </div>
    </div>
  </p-card>
</div>
<p-toast></p-toast>