/* board-home.component.scss */
.form-container {
    width: 260px;
    margin: 0 auto;
  }
  
  .card-content {
    ul {
      margin: 5px 0;
      padding-left: 20px; /* Standard indent for bullets */
    }
  
    li {
      margin: 5px 0;
    }
  }