
  
  .form-container {
    width: 260px;
    margin: 0 auto;
  }
  
  .field {
    margin-bottom: 15px;
  }
  
  p-button {
    width: 100%; /* FluidModule ensures this */
    padding: 8px;
    font-size: 14px;
  }
  
  p-error {
    color: #dc2626; /* Red color for errors, adjust as needed */
    font-size: 12px;
  }

  .occupied-row {
  display: flex;
  align-items: center;
  gap: 8px;
}

.occupied-row .checkbox-label {
  margin: 0;
}