<div class="content-container">
    <p-card>
      <ng-template #title>Welcome Committee</ng-template>
      <div class="card-content">
        <p>Be the friendly face of Westbury Square Townhomes by joining the Welcome Committee! When new owners move in, we’re there to greet them, share the rules, bylaws, and parking details, and help them settle in with gate keys and a warm introduction.</p>
        <p>It’s a rewarding way to build connections, spread goodwill, and ensure everyone feels at home from day one. If you’re outgoing and love meeting new people, this is the perfect spot for you—volunteer today and help us roll out the welcome mat!</p>
      </div>
    </p-card>
  </div>
