.menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0; /* Adjust gap between icon and text */
  padding: 0;
}

.router-outlet {
  padding: 10px;
}

.divider {
  margin: 5px 0; /* Consistent spacing for hr */
  border: 0;
  border-top: 1px solid #ccc; /* Optional: Customize divider style */
}