.menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0;
  padding: 0;
}

.router-outlet {
  padding: 10px;
}

.divider {
  margin: 5px 0;
  border: 0;
  border-top: 1px solid #ccc;
}

:host ::ng-deep {
  .p-menuitem {
    .p-menuitem-link {
      .p-menuitem-icon {
        margin-right: 0.5rem;
      }
    }
  }
  
  .p-menuitem-level-0 {
    font-weight: normal !important;
  }
}