<div class="content-container">
    <p-card>
      <ng-template #title>Violations and Parking Committee</ng-template>
      <div class="card-content">
        <p>Are you detail-oriented and fair-minded? The Violations and Parking Committee could use your talents! We review reported rule violations, decide if fines are warranted, and keep our parking system organized by tracking assignments and issuing violations when needed.</p>
        <p>It’s a great way to uphold our community standards while getting to know how things work around here. Join us to play a key role in keeping Westbury Square fair, orderly, and running like clockwork!</p>
      </div>
    </p-card>
  </div>
