<div class="content-container">
    <p-card>
      <ng-template #title>Legal Committee</ng-template>
      <div class="card-content">
        <p>Have a knack for law or a keen eye for detail? The Legal Committee needs you! We assist the Board of Directors with reviewing contracts, handling liens, and offering legal insights to keep our community running smoothly.</p>
        <p>If you’ve got a legal background—or just a passion for problem-solving—this is your chance to put your skills to work and protect our neighborhood’s interests. Step up and join a team that makes a real impact behind the scenes!</p>
      </div>
    </p-card>
  </div>
