.medium-black-16 {
  font-size: 16px;
  color: black;
  margin: 0;
  font-weight: 600;
}

.medium-black-16-centered {
  font-size: 16px;
  color: black;
  margin: 0;
  font-weight: 540;
  text-align: center;
}

.white-16-540{
  font-size: 16px;
  color: rgb(255, 255, 255);
  margin: 0;
  font-weight: 540;
}

.small-black-14 {
  font-size: 14px;
  color: black;
  margin: 0;
  font-weight: 500;
}

.small-black-text {
  font-size: 13px;
  color: black;
  margin: 0;
  font-weight: 400;
}

.black-13-400 {
  font-size: 13px;
  color: black;
  margin: 0;
  font-weight: 400;
}
.black-13-550 {
  font-size: 13px;
  color: black;
  margin: 0;
  font-weight: 550;
}

.black-16-400 {
  font-size: 16px;
  color: black;
  margin: 0;
  font-weight: 400;
}

.black-16-550 {
  font-size: 16px;
  color: black;
  margin: 0;
  font-weight: 550;
}

.blue-16-550 {
  font-size: 16px;
  color: #3F52B5;
  margin: 0;
  font-weight: 550;
}

.tiny-text {
  font-size: 12px;
  margin: 0;
}

.tiny-text-red {
  font-size: 14px;
  margin: 0;
  color: crimson;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

.tiny-text-yellow {
  font-size: 14px;
  margin: 0;
  color: rgb(245, 233, 65);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

.copy-bold {
  font-weight: 600;
}
.form-titles {
  font-size: 16px;
}
.sub-header {
  font-weight: 600;
}

