@use '@angular/material' as mat;

html {
  color-scheme: light;
  height:100%;
  @include mat.theme((
    color: mat.$azure-palette,
    typography: Roboto,
    density: 0,
  ));

   // Override mat-card styles globally

  @include mat.card-overrides((
    elevated-container-color: var(--mat-sys-primary-container), // Ties to primary palette
    // Optional: Add more overrides if desired
    // elevated-container-shape: 8px, // Corner radius
    // title-text-size: 1.5rem,     // Title font size
  ));

  @include mat.form-field-overrides((
    container-color: #ffffff, // Pure white background for text fields
    // Optional: Adjust other tokens if needed
    // container-text-color: #000000, // Text color
    // container-height: 56px,       // Height
  ));
}
 

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    background: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
}

/* Force all mat-form-field backgrounds to white */
mat-form-field .mat-mdc-text-field-wrapper {
    background-color: #ffffff !important;
  }



