<div class="content-container">
  <p-card>
    <ng-template #title>Welcome</ng-template>
    <div class="card-content">
      <p *ngIf="userEmail">Welcome, {{ userEmail }}!<span *ngIf="isAdmin"> (Admin)</span></p>
      <p *ngIf="!userEmail">Not logged in.</p>
      <div class="buttons-container">
        <p-fluid>
          <div class="button-container">
          <p-button label="My Account" routerLink="/units"></p-button>
        </div>
          <div class="button-container">
          <p-button label="Management" routerLink="/management"></p-button>
        </div>
          <div class="button-container">
          <p-button label="Board of Directors" routerLink="/board"></p-button>
        </div>
          <div class="button-container">
          <p-button label="Committees" routerLink=""></p-button>
        </div>
          <div class="button-container">
          <p-button *ngIf="isAdmin" label="Admin View" routerLink=""></p-button>
        </div>
        </p-fluid>
      </div>
    </div>
  </p-card>
</div>