<!-- committees-home.component.html -->
<div class="content-container">
    <p-card>
      <ng-template #title>Committees</ng-template>
      <div class="card-content">
        <div class="intro">
          <h2>Join a Committee at Westbury Square Townhomes</h2>
          <p>Our committees play a vital role in maintaining and enhancing our community, working as extensions of the Board of Directors to keep our community thriving. From beautifying the landscape to welcoming new neighbors, these volunteer groups tackle essential tasks and fun projects that make our townhome community a wonderful place to live. We rely on residents like you to step up and lend a hand—no matter your skills or experience, there’s a perfect spot waiting!</p>
          <p>Volunteering on a committee is a fantastic way to get involved, meet your neighbors, and shape the future of our community. Whether you’re planting flowers, planning a pool party, or helping enforce our rules, your contribution makes a difference. Join us today and discover how rewarding it is to be part of the Westbury Square team—sign up and get started!</p>
      </div>
        
      </div>
    </p-card>
  </div>
